:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

#christmas-tree-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #082032, #000000);
}

#tree-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.title {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: #ffdede;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 0px 10px #ff6887;
  z-index: 10;
}
