@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONDO NEGRO GLOBAL (esto evita el fondo blanco) */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  background: #000 !important;
  height: 100% !important;
  overflow: hidden !important;
}
